#headerk3{
    background-color: white;
    padding: 2%;
    display: flex;
    position: fixed;
}
#header2k3 h1{
    font-size: 50px;
}
#headerk3 img{
    margin-left: 5%;
    margin-right: 3%;
}
#headerk3 li a{
    text-decoration: none;
    color: black;
}
#headerk3 li a:hover{
    color: rgb(148, 148, 148);
}
#headerk3 ul li{
    display: inline-block;
    padding: 20px 0px 0px 40px;
}
#headerk3 ul li:hover{
    color: rgb(148, 148, 148);
}
#header2k3{
    color: white;
    padding: 17%;
    background-image: url('image/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#bodyk3{
    padding: 6%;
}
#bodyk3 h5{
    width: 15%;
    padding-bottom: 4%;
    border-bottom: 1px solid blue;
}
#bodyk3 p{
    color: rgb(148, 148, 148);
}
#h6k3{
    color: black;
    font-size: 20px;
    padding-bottom: 1%;
}
#borderh1k3{
    border-bottom: 1px solid blue;
    width: 15%;
}
#body2k3{
    background-color: rgb(240, 240, 240);
    padding: 6%;
}
#body2k3 h2{
    width: 10%;
    padding-bottom: 2%;
    border-bottom: 3px solid #328bc3;
}
#tentangkmik3 h1,h6{
    color:#164564;
    margin-bottom: 5%;
}
#body3k3{
    padding: 8%;
    background-image: url('image/tnggngjwb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#body3k3 h1{
    color:#164564;
    margin-bottom: 4%;
    font-size: 55px;
}
#body3k3 p{
    color:#164564;
}
#body4k3{
    background-color: rgb(240, 240, 240);
    padding: 7%;
}
#body4k3 h1{
    margin-bottom: 6%;
}
#beritak3{
    background-color: white;
    margin-left: 10.5%;
}
#berita2k3{
    background-color: white;
    margin-left: 2%;
}
#divberitak3{
    padding:5%;
    color: rgb(128, 128, 128);
}
#divberitak3 button{
    margin-top: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12px;
    border: 1px solid rgb(202, 202, 202);
    background-color: white;
    color: rgb(67, 67, 67);
}
#divberitak3 button:hover{
    background-color: #357ba7;
    color: white;
    width: 50%;;
}
#footer1k3{
    background: linear-gradient(to bottom, #0b3c5d, #226c9b);   
    color: white;
    padding: 5%;
}
#footer1k3 a{
    color: white;
    text-decoration: none;
}
#footer1k3 a:hover{
    color: rgb(122, 122, 250);
}
#footer2k3{
    background-color: #328bc3;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
}
#bodytentangkami{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
}
#col6tntngkmik3{
    margin-bottom: 5%;
}
#bodytentangkami h2{
    width: 10%;
    padding-bottom: 2%;
    border-bottom: 2px solid #328bc3;
}
#bodytentangkami p{
    color: #4b4b4b;
}
#dewank3{
    background: linear-gradient(to bottom, #0b3c5d, #226c9b);   
    color: white;
    padding: 8%;
}
#formlogin{
    background: linear-gradient(to bottom, #0b3c5d, #226c9b);   
    color: white;
    padding: 5%;
    border-radius: 10px;
    width: 50%;
    margin-top: 10%;
    font-size: 19px;
    box-shadow: 1px 5px 20px rgba(0,0,0,0.8);
}
#formlogin input{
    border-radius: 5px;
    border: none;
    height: 7%;
    width: 58%;
}
#formlogin button{
    border-radius: 10px;
    border: none;
    padding: 2%;
    width: 25%;
}
#tr427 th{
    background: linear-gradient(to bottom, #0b3c5d, #226c9b);   
    border: 2px solid white;
    color: white;
}
.tbl427 td{
        background-color: rgb(240, 240, 240);
        border: 2px solid white;
}
#tabel427{
    padding: 2%;
}
#contadd427{
    padding: 4%;
}
#cheadadd427{
    background-color: #198754;   
    color: white;
}
#cheadupdt427{
    background-color: #0d6efd;   
    color: white;
}
#idupdt427{
    padding-left: 1%;
}
#pupdt427{
    border:1px solid rgb(195, 195, 195); 
    border-radius: 5px;
    padding:1%;
    width: 82%;
    margin-left: 8.3%;
}
#divdatabase{
    padding-top: 3%;
    padding-bottom: 5%;
}
#btndatbase{
    width: 35%;
    margin-bottom: 1%;
    background: linear-gradient(to bottom, #0b3c5d, #226c9b);   
    border: 2px solid white;
    color: white;
    font-size: 20px;
}
#btndatbase:hover{
    box-shadow: -5px 8px 3px rgba(165, 165, 165, 0.8);
    width: 37%;
}
#tabel427 input{
    border: 1px solid #0099ff;
    border-radius: 5px;
    padding-left: 1%;
}
/* #tabel427 button{
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 2%;
    padding-left: 2%;
    background: linear-gradient(to right, #0099ff, #0a3854);   
} */
#formadd427 select{
    font-size: 17px;
    width: 100%;
    background-color: white;
    color: #1e1e1e;
    border-radius: 3px;
    border: 1px solid #cfcece;
    padding: 1%;
}
#btnlogout{
    width: 15%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2%;
    padding-left: 0%;
    padding-right: 0%;
    background: linear-gradient(to top, #ff4d4d, #ff0000);   
}
#btnlogout:hover{
    box-shadow: -5px 5px 3px rgba(165, 165, 165, 0.8);
}

#body{
    padding: 80px;
}

.spg span{
    font-size: 35px;
}
#spgg{
    padding-top: 30px;
    padding-bottom: 30px;
}
#spg1 span{
    color: rgb(0, 114, 180);
    font-size: x-large;
}

.spg2 span{
    font-size: 35px;
}

.wvg span{
    font-size: 35px;
}
#wvgg{
    padding-top: 30px;
    padding-bottom: 30px;
}
#wvg1 span{
    color: rgb(0, 114, 180);
    font-size: x-large;
}

.wvg2 span{
    font-size: 35px;
}
#dfv span{
    font-size: 35px;
}
#dfvv span{
    color: rgb(0, 114, 180);
    font-size: x-large;
}
#ddf{
    font-size: 35px;
}

.button {
    align-items: center;
    width: 160px;
    height: 50px;
    color: rgb(0, 114, 180);
    border: 3px solid  rgb(0, 114, 180);
    background: transparent;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    background: rgb(0, 114, 180);
    color: #fff;
}
